			<div class="jumbotron">
				<h2>
					Hello, User!
				</h2>
				<p>
				    <%= simple_form_for @search, url: search_search_path, method:  'GET' do |f| %>
                     <%= f.input :username, label: "Kullanıcı Adı:" %>
                     <%= f.button :submit, "Ara", class: "btn btn-primary btn-large" %>
                     <% end %>
				</p>
				
			</div>