<h1>Arananlar Listesi</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th> Username</th>
      <th> Count</th>
    </tr>
  </thead>
  <tbody>
  <% @all_list.each do |object| %>

    <tr>
      <td> <%= object.username %> </td>
      <td><%= object.count %> </td>
    
    </tr>
   <% end %>
  </tbody>
</table>